<div class="jumbotron">
</br>

   <h1>UTrackDeliveries</h1>
   
   <p>
     <%= link_to "Sign in" %> or
     <%= link_to "Sign Up", class: 'btn btn-primary' %>
   </p>
</div>
 
<div class="row">
   <div class="col-md-4">
     <h2>Saves Time</h2>
     <p>Helps to save you time on endless calls and emails</p>
   </div>
   <div class="col-md-4">
     <h2>Saves you money</h2>
     <p>Closes the gap for companies who don't have the budget to create a delivery platform</p>
   </div>
   <div class="col-md-4">
     <h2>Ensures On-Time Delivery</h2>
     <p>UTrackDeliveries looks improves customer satisfaction with on-time deliveries</p>
   </div>
</div>


